@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent-primary: #2f306a;
  --accent-secondary: #3bc1cb;
  --accent-tertiary: #8c52ff;
  --text-black: #212121;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* styles/fonts.css */

/* styles/fonts.css */

@font-face {
  font-family: "Sen";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Sen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sen";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Sen-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Sen";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Sen-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sen";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/Sen-ExtraBold.ttf") format("truetype");
}

* {
  font-family: "Sen", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

blockquote {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--Accent-Secondary, #3bc1cb);
}
.header-comp {
  background-color: rgba(248, 249, 252, 0.7);

  /* Background blur/md */
  backdrop-filter: blur(8px);
}

.snap-container {
  scroll-snap-type: both mandatory;
  overflow-y: scroll;
  height: 100vh; /* Sesuaikan dengan tinggi viewport yang diinginkan */
}

.snap-child {
  scroll-snap-align: start;
}

@media screen and (min-width: 768px) {
  .snap-container {
    scroll-snap-type: both mandatory;
  }
}

.slick-track{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.blur-background{
  backdrop-filter: blur(5px);
}

/* ArticleDetailContent.module.css */

/* Headings */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Paragraph */
p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/* Underline */
u {
  text-decoration: underline;
}

/* Italic */
em {
  font-style: italic;
}

/* Bold */
strong {
  font-weight: bold;
}

/* Line break */
br {
  content: " ";
  display: block;
  margin: 1rem 0;
}
/* Add more styles as needed for other HTML tags */

