@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent-primary: #2f306a;
  --accent-secondary: #3bc1cb;
  --accent-tertiary: #8c52ff;
  --text-black: #212121;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* styles/fonts.css */

/* styles/fonts.css */

@font-face {
  font-family: "Sen";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Sen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sen";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Sen-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Sen";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Sen-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sen";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/Sen-ExtraBold.ttf") format("truetype");
}

* {
  font-family: "Sen", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

blockquote {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--Accent-Secondary, #3bc1cb);
}
.header-comp {
  background-color: rgba(248, 249, 252, 0.7);

  /* Background blur/md */
  backdrop-filter: blur(8px);
}
